.dashboard-title {
    font-weight: 500;
}

a, .footer-text {
    font-weight: 100;
    font-size: small;
}

.card-value {
    font-weight: 200;
    font-size: 22px;
}

.fa-angle-up {
    margin-right: 5px !important;
}

.sidenav-logo {
    padding-top: 18px; 
}

.sidenav logo-container {
    padding: 0 16px;
    height: 64px;
}
    